---
title : CV
layout : page
---

<h3>Yijia Liu (刘一佳)</h3>
<div class="row">
  <div class="col-md-12">
    <div class="row"><div class="col-md-12">
        Ph.D. candidate, Language analysis group in HIT-SCIR | mail: yjliu (at) ir.hit.edu.cn | <a href="cv.pdf">[Get CV in PDF]</a>
    </div></div>
  </div>
</div>

<hr />

<div class="row"><p>
  <div class="col-md-2">RESEARCH INTERESTS</div>
  <div class="col-md-10">
    Natural language processing, Chinese Word Segmentation, Parsing and Machine Learning. My supervisor is <a href="http://ir.hit.edu.cn/~car/">Wanxiang Che</a>.
  </div>
</p></div>

<div class="row"><p>
  <div class="col-md-2">EDUCATION</div>
  <div class="col-md-10">
    <div class="row">
      <div class="col-md-12"><em>Visiting Student</em>, University of Washington<span class="pull-right">2016.10 - present</span></div>
    </div>
    <p></p>
    <div class="row">
      <div class="col-md-12"><em>Ph.D. candidate</em>, Harbin Institute of Technology<span class="pull-right">2014.9 - present</span></div>
      <div class="col-md-12">Major: Computer Science</div>
    </div>
    <p></p>
    <div class="row">
      <div class="col-md-12"><em>M.S.</em>, Harbin Institute of Technology<span class="pull-right">2012.9 - 2014.7</span></div>
      <div class="col-md-12">Major: Computer Science, Score： 79.14 (rank top 10%)</div>
    </div>
    <p></p>
    <div class="row">
      <div class="col-md-12"><em>B.E.</em>, Harbin Institute of Technology<span class="pull-right">2008.9 - 2012.7</span></div>
      <div class="col-md-12">Major: Computer Science, Score: 88.7 (rank top 8%)</div>
    </div>
  </div>
</p></div>

<div class="row"><p>
  <div class="col-md-2">PUBLICATION</div>
  <div class="col-md-10">
    <div class="row"><div class="col-md-12">
        <strong>Yijia Liu</strong>, Wanxiang Che, Jiang Guo, Bing Qin, and Ting Liu. 2016.
        <a href="http://www.ijcai.org/Proceedings/16/Papers/409.pdf">Exploring Segment Representations for Neural Segmentation Models</a>.
        In <em>25th International Joint Conference on Artificial Intelligence</em> (IJCAI2016).
    </div></div>
    <div class="row"><div class="col-md-12">
        <a href="https://github.com/ExpResults/segrep-for-nn-semicrf">[code]</a>
      </div>
    </div>
    <p></p>

    <div class="row"><div class="col-md-12">
        <strong>Yijia Liu</strong>, Wanxiang Che, Bing Qin, and Ting Liu. 2016.
        <a href="http://www.ijcai.org/Proceedings/16/Papers/410.pdf">HC-search for Incremental Parsing</a>.
        In <em>25th International Joint Conference on Artificial Intelligence</em> (IJCAI2016).
    </div></div>
    <div class="row"><div class="col-md-12">
        <a href="https://github.com/ExpResults/hc-incremental-parsing">[code]</a>
      </div>
    </div>
    <p></p>

    <div class="row"><div class="col-md-12">
        <strong>Yijia Liu</strong>, Yue Zhang, Wanxiang Che, and Ting Liu. 2015.
        <a href="http://www.aclweb.org/anthology/N/N15/N15-1012.pdf">Transition-Based Syntactic Linearization</a>.
        In <em>Proceedings of the 2015 Conference of the North American Chapter of the Association for Computational Linguistics: Human Language Technologies</em> (NAACL2015).
    </div></div>
    <div class="row"><div class="col-md-12">
        <a href="http://www.aclweb.org/anthology/N/N15/N15-1012.bib">[bib]</a> | <a href="https://github.com/ExpResults/srgen">[code]</a>
      </div>
    </div>
    <p></p>

    <div class="row"><div class="col-md-12">
        <strong>Yijia Liu</strong>, Yue Zhang, Wanxiang Che, and Ting Liu. 2014.
        <a href="http://aclweb.org/anthology/D/D14/D14-1093.pdf">Domain Adaptation for CRF-based Chinese Word Segmentation using Free Annotations</a>.
        In <em>Proceedings of the 2014 Conference on Empirical Methods in Natural Language Processing</em> (EMNLP2014).
    </div></div>
    <div class="row"><div class="col-md-12">
        <a href="http://aclweb.org/anthology/D/D14/D14-1093.bib">[bib]</a> | <a href="https://github.com/ExpResults/partial-crfsuite">[code]</a>
      </div>
    </div>
    <p></p>

    <div class="row">
      <div class="col-md-12">
        <strong>Yijia Liu</strong>, Wanxiang Che, and Ting Liu. 2013.
        <a href="http://link.springer.com/chapter/10.1007%2F978-3-642-41491-6_6#">Enhancing chinese word segmentation with character clustering</a>.
        In <em>Chinese Computational Linguistics and Natural Language Processing Based on Naturally Annotated Big Data</em> (CCL2013).
      </div>
    </div>
    <p></p>

    <div class="row">
      <div class="col-md-12">
        <strong>Yijia Liu</strong>, Meishan Zhang, Wanxiang Che, Ting Liu, and Yihe Deng. 2012.
        <a href="http://aclweb.org/anthology/W/W12/W12-6316.pdf">Micro blogs Oriented Word Segmentation System</a>.
        In <em>Proceedings of the Second CIPS-SIGHAN Joint Conference on Chinese Language Processing</em>.
    </div></div>
    <div class="row"><div class="col-md-12">
        <a href="http://aclweb.org/anthology/W/W12/W12-6316.bib">[bib]</a> | <a href="https://github.com/Oneplus/libweicws">[code]</a>
      </div>
    </div>
    <p></p>

    <div class="row">
      <div class="col-md-12">
        Meishan Zhang, Wanxiang Che, <strong>Yijia Liu</strong>, Zhenghua Li, Ting Liu. 2012.
        <a href="https://sites.google.com/site/sancl2012/home/programme">HIT dependency parsing: Bootstrap aggregating heterogeneous parsers</a>.
        In <em>Notes of the First Workshop on Syntactic Analysis of Non-Canonical Language</em> (SANCL).
      </div>
    </div>

  </div>
</p></div>

<div class="row"><p>
  <div class="col-md-2">PROJECTS</div>
  <div class="col-md-10">

    <div class="row">
      <div class="col-md-12">
        <div><a href="http://www.ltp-cloud.com/">Language Technology Platform (LTP)</a>, <span class="pull-right">2013.6 - present</span></div>
        LTP is a software package that provides a Chinese natural language processing pipeline along with web service API.
        <ul>
          <li>one of the developers and the major maintainer of LTP.</li>
          <li>developed 4 modules including Chinese word segmentation, POSTagging, NER and Dependency parsing in a perceptron algorithm framework.</li>
          <li>developed the RESTful API and contributed to the development of website.</li>
        </ul>
      </div>
    </div>
    <p></p>

    <div class="row">
      <div class="col-md-12">
        <div><a href="http://sourceforge.net/projects/zpar/">Zpar Project</a>, <span class="pull-right">2013.10 - present</span></div>
        ZPar is statistical multi-language parser. ZPar provides integrated systems that perform word segmentation, part-of-speech tagging, dependency parsing or phrase structure parsing.
        <ul>
          <li>developed transition based non-projective dependency parser.</li>
          <li>developed bug fixes.</li>
        </ul>
      </div>
    </div>
    <p></p>

    <!--
    <div class="row">
      <div class="col-md-12">
        <div><a href="http://www.cipsc.org.cn/clp2012/task1.html">CLP 2012 Bakeoff Task 1: Chinese Word Segmentation on MicroBlog Corpora</a>, <span class="pull-right">2012.10</span></div>
        I implemented a semi-supervised segmentation system, and it achieved an f1 score of 94.04% on the bakeoff test data.
      </div>
    </div>
    -->

  </div>
</p></div>

<div class="row"></p>
  <div class="col-md-2">SERVICES</div>
  <div class="col-md-10">

    <div class="row">
      <div class="col-md-12">
          <div><em>Conference Reviewer/Secondary Reviewer</em>: ACL 2014, CCL 2015, NLPCC 2015, NAACL 2016, IJCAI 2016, SemEval 2016.</div>
    </div></div>

  </div>
</p></div>

<div class="row"></p>
  <div class="col-md-2">EMPLOYMENTS</div>
  <div class="col-md-10">

    <div class="row">
      <div class="col-md-12">
        <div><em>Research Assistance</em>, Singapore University of Technology and Design. <span class="pull-right">2013.10 - 2014.10</span></div>
        worked with Professor <a href="http://istd.sutd.edu.sg/faculty/zhang-yue/">Yue Zhang</a>, on statistical machine translation, Chinese tagging and transition based dependency parsing.
    </div></div>
    <p></p>

    <div class="row">
      <div class="col-md-12">
        <div><em>Intern Researcher and Developer</em>, Baidu Inc., NLP Department. <span class="pull-right">2011.7 - 2011.11</span></div>
        implemented query template extraction toolkit and built a python extension for baidu wordseg library.
    </div></div>

  </div>
</p></div>

<div class="row"></p>
  <div class="col-md-2">TEACHING EXPERIENCE</div>
  <div class="col-md-10">
    <div><em>TA</em>, High level Programming Language, <span class="pull-right">2009 fall, 2010 fall</span></div>
    <div><em>TA</em>, The Practice of Programming, <span class="pull-right">2011 spring, 2012 spring</span></div>
  </div>
</p></div>

<div class="row"></p>
  <div class="col-md-2">TECHNIQUE SUMMARY</div>
  <div class="col-md-10">
    <div><em>Programming Languages</em>: C, C++, Python, R, Shell, PHP, Java</div>
    <div><em>Operating Systems</em>: Linux (two-years experience as part-time IT administrator)</div>
    <div><em>Experience</em>: Git, SVN, Valgrind, Apache, Nginx, django(Python), codeigniter(PHP)</div>
  </div>
</p></div>

<div class="row"></p>
  <div class="col-md-2">AWARDS</div>
  <div class="col-md-10">
    <div>The National Scholarship for graduate students <span class="pull-right">2013.9</span></div>
    <div>2010 ACM/ICPC Asia Regional Contest Hangzhou Onsite, Silver Medal <span class="pull-right">2010.10</span></div>
    <div>Hua Wei Scholarship <span class="pull-right">2010.9</span></div>
  </div>
</p></div>

