---
title : CV
layout : page
---

<h3>Yijia Liu (刘一佳)</h3>
<div class="row">
  <div class="col-md-12">
    <div class="row"><div class="col-md-12">
        Ph.D. student, Language analysis group in HIT-SCIR | mail: yjliu (at) ir.hit.edu.cn | <a href="cv.pdf">[Get CV in PDF]</a>
    </div></div>
  </div>
</div>

<hr />

<div class="row"><p>
  <div class="col-md-2">RESEARCH INTERESTS</div>
  <div class="col-md-10">
    Natural language processing, Chinese Word Segmentation, Machine Learning. My supervisor is Wanxiang Che.
  </div>
</p></div>

<div class="row"><p>
  <div class="col-md-2">EDUCATION</div>
  <div class="col-md-10">
    <div class="row">
      <div class="col-md-12"><em>M.S.</em>, Harbin Institute of Technology<span class="pull-right">2012.9 - 2014.7</span></div>
      <div class="col-md-12">Major: Computer Science, Score： 79.14 (rank top 10%)</div>
    </div>
    <p></p>
    <div class="row">
      <div class="col-md-12"><em>B.E.</em>, Harbin Institute of Technology<span class="pull-right">2008.9 - 2012.7</span></div>
      <div class="col-md-12">Major: Computer Science, Score: 88.7 (rank top 8%)</div>
    </div>
  </div>
</p></div>

<div class="row"><p>
  <div class="col-md-2">PUBLICATION</div>
  <div class="col-md-10">
    <div class="row"><div class="col-md-12">
        <strong>Yijia Liu</strong>, Yue Zhang, Wanxiang Che, and Ting Liu. 2014.
        <a href="http://www.aclweb.org/anthology/index.html">Domain Adaptation for CRF-based Chinese Word Segmentation using Free Annotations</a>.
        (To appear) In <em>Proceedings of the 2014 Conference on Empirical Methods in Natural Language Processing</em>.
    </div></div>
    <div class="row"><div class="col-md-12">
        <a href="https://github.com/ExpResults/partial-crfsuite">[code]</a>
      </div>
    </div>
    <p></p>

    <div class="row">
      <div class="col-md-12">
        <strong>Yijia Liu</strong>, Wanxiang Che, and Ting Liu. 2013.
        <a href="http://link.springer.com/chapter/10.1007%2F978-3-642-41491-6_6#">Enhancing chinese word segmentation with character clustering</a>.
        In <em>Chinese Computational Linguistics and Natural Language Processing Based on Naturally Annotated Big Data</em>.
      </div>
    </div>
    <p></p>

    <div class="row">
      <div class="col-md-12">
        <strong>Yijia Liu</strong>, Wanxiang Che, Ting Liu, and Meishan Zhang. 2013.
        <a href="http://d.e.wanfangdata.com.hk/Conference.aspx?ID=Conference_7748118">A Comparison Study of Sequence Labeling Based Chinese Word Segmentation, POS tagging Models</a>.
        In <em>Journal of Chinese Information Processing</em>. 2013 (3)
      </div>
    </div>
    <p></p>

    <div class="row">
      <div class="col-md-12">
        <strong>Yijia Liu</strong>, Meishan Zhang, Wanxiang Che, Ting Liu, and Yihe Deng. 2012.
        <a href="https://aclweb.org/anthology/W/W12/W12-6316.pdf">Micro blogs Oriented Word Segmentation System</a>.
        In <em>Proceedings of the Second CIPS-SIGHAN Joint Conference on Chinese Language Processing</em>.
    </div></div>
    <div class="row"><div class="col-md-12">
        <a href="https://github.com/Oneplus/libweicws">[code]</a>
      </div>
    </div>
    <p></p>

    <div class="row">
      <div class="col-md-12">
        Meishan Zhang, Wanxiang Che, <strong>Yijia Liu</strong>, Zhenghua Li, Ting Liu. 2012.
        <a href="https://sites.google.com/site/sancl2012/home/programme">HIT dependency parsing: Bootstrap aggregating heterogeneous parsers</a>.
        In <em>Notes of the First Workshop on Syntactic Analysis of Non-Canonical Language (SANCL)</em>.
      </div>
    </div>

  </div>
</p></div>

<div class="row"><p>
  <div class="col-md-2">PROJECTS</div>
  <div class="col-md-10">

    <div class="row">
      <div class="col-md-12">
        <div><a href="http://www.ltp-cloud.com/">Language Technology Platform (LTP)</a>, <span class="pull-right">2013.6 - present</span></div>
        LTP is a software package that provides a Chinese natural language processing pipeline along with web service API.
        <ul>
          <li>I am one of the developers and the major maintainer of LTP.</li>
          <li>I developed 4 modules including Chinese word segmentation, part of speech tagging, dependency parsing and named entities recognizer.</li>
          <li>I also developed the API example for various languages and contributed to the development of website.</li>
        </ul>
      </div>
    </div>
    <p></p>

    <div class="row">
      <div class="col-md-12">
        <div><a href="http://sourceforge.net/projects/zpar/">Zpar Project</a>, <span class="pull-right">2013.10 - present</span></div>
        <ul>
          <li>developed transition based parser</li>
          <li>developed bug fixes</li>
        </ul>
      </div>
    </div>
    <p></p>

    <div class="row">
      <div class="col-md-12">
        <div><a href="http://www.cipsc.org.cn/clp2012/task1.html">CLP 2012 Bakeoff Task 1: Chinese Word Segmentation on MicroBlog Corpora</a>, <span class="pull-right">2012.10</span></div>
        I implemented a semi-supervised segmentation system, and it achieved an f1 score of 94.04% on the bakeoff test data.
      </div>
    </div>

  </div>
</p></div>

<div class="row"></p>
  <div class="col-md-2">EMPLOYMENTS</div>
  <div class="col-md-10">

    <div class="row">
      <div class="col-md-12">
        <div><em>Research Assistance</em>, Singapore University of Technology and Design. <span class="pull-right">2013.10 - present</span></div>
        working with Professor <a href="http://www.sutd.edu.sg/yuezhang.aspx">Zhang Yue</a>, on statistical machine translation, Chinese tagging and transition based dependency parsing.
    </div></div>
    <p></p>

    <div class="row">
      <div class="col-md-12">
        <div><em>Intern Researcher and Developer</em>, Baidu Inc., NLP Department. <span class="pull-right">2011.7 - 2011.11</span></div>
        implemented query template extraction tool and built a python extension for baidu wordseg library.
    </div></div>

  </div>
</p></div>

<div class="row"></p>
  <div class="col-md-2">TEACHING EXPERIENCE</div>
  <div class="col-md-10">
    <div><em>TA</em>, High level Programming Language, <span class="pull-right">2009 fall, 2010 fall</span></div>
    <div><em>TA</em>, The Practice of Programming, <span class="pull-right">2011 spring, 2012 spring</span></div>
  </div>
</p></div>

<div class="row"></p>
  <div class="col-md-2">TECHNIQUE SUMMARY</div>
  <div class="col-md-10">
    <div><em>Programming Languages</em>: C, C++, Python, R, Shell, PHP, Java</div>
    <div><em>Operating Systems</em>: Linux (two year experience as system administrator)</div>
    <div><em>Experience</em>: SVN, Git, Valgrind, Apache, Nginx, codeigniter(PHP), django(Python)</div>
  </div>
</p></div>

<div class="row"></p>
  <div class="col-md-2">AWARDS</div>
  <div class="col-md-10">
    <div>The National Scholarship for graduate students <span class="pull-right">2013.9</span></div>
    <div>2010 ACM/ICPC Asia Regional Contest Hangzhou Onsite, Silver Medal, <span class="pull-right">2010.10</span></div>
    <div>Hua Wei Scholarship <span class="pull-right">2010.9</span></div>
  </div>
</p></div>

